# Import Libraries and Data:

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df_full = pd.read_pickle(r'C:\Users\19014\OneDrive\Desktop\InstaCart Basket Analysis\02 Data\Prepared Data\ICB_full_merge.pkl')

In [3]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32435070 entries, 0 to 32435069
Data columns (total 16 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                float64
 1   user_id                 float64
 2   order_number            float64
 3   orders_day_of_week      float64
 4   hour_of_order           float64
 5   days_since_prior_order  float64
 6   product_id              int64
 7   add_to_cart_order       float64
 8   reordered               float64
 9   product_name            object
 10  aisle_id                float64
 11  department_id           float64
 12  prices                  float64
 13  _merge                  category
 14  max_order               float64
 15  loyalty_flag            object
dtypes: category(1), float64(12), int64(1), object(2)
memory usage: 3.9+ GB

# Answers:

In [4]:
# Step 2 & 3
df_full.groupby('department_id').agg({'order_number': ['mean', 'max', 'min']})

              order_number
                      mean   max  min
department_id
1.0              15.457838  99.0  1.0
2.0              17.277920  99.0  1.0
3.0              17.170395  99.0  1.0
4.0              17.811403  99.0  1.0
5.0              15.215751  99.0  1.0
6.0              16.439806  99.0  1.0
7.0              17.225802  99.0  1.0
8.0              15.340650  99.0  1.0
9.0              15.895474  99.0  1.0
10.0             20.197148  99.0  1.0
11.0             16.170638  99.0  1.0
12.0             15.887671  99.0  1.0
13.0             16.583536  99.0  1.0
14.0             16.773669  99.0  1.0
15.0             16.165037  99.0  1.0
16.0             17.665606  99.0  1.0
17.0             15.694469  99.0  1.0
18.0             19.310397  99.0  1.0
19.0             17.177343  99.0  1.0
20.0             16.473447  99.0  1.0
21.0             22.902379  99.0  1.0

some of the averages have changed in either direction which is expected given that the sample size is larger.

In [5]:
# Step 5
df_full.groupby('loyalty_flag').agg({'prices': ['mean', 'max', 'min']})

                     prices
                       mean      max  min
loyalty_flag
loyal customer    10.386336  99999.0  1.0
new customer      13.294670  99999.0  1.0
regular customer  12.495717  99999.0  1.0

mean is lower for loyal customers

In [6]:
# Step 6
# creating mean price flag
df_full['mean_price'] = df_full.groupby(['user_id'])['prices'].transform(np.mean)

In [7]:
df_full.head()

,order_id,user_id,order_number,orders_day_of_week,hour_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,max_order,loyalty_flag,mean_price
0,2539329.0,1.0,1.0,2.0,8.0,NaN,196,1.0,0.0,Soda,77.0,7.0,9.0,both,10.0,new customer,6.367797
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,10.0,new customer,6.367797
2,473747.0,1.0,3.0,3.0,12.0,21.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,10.0,new customer,6.367797
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,10.0,new customer,6.367797
4,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,10.0,new customer,6.367797

In [8]:
df_full.loc[df_full['mean_price'] < 10, 'spending_flag'] = 'low spender'
df_full.loc[df_full['mean_price'] >= 10, 'spending_flag'] = 'high spender'

In [9]:
df_full.tail()

,order_id,user_id,order_number,orders_day_of_week,hour_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,max_order,loyalty_flag,mean_price,spending_flag
32435065,NaN,NaN,NaN,NaN,NaN,NaN,37703,NaN,NaN,Ultra Sun Blossom Liquid 90 loads Fabric Enhan...,75.0,17.0,14.3,right_only,NaN,NaN,NaN,NaN
32435066,NaN,NaN,NaN,NaN,NaN,NaN,43725,NaN,NaN,Sweetart Jelly Beans,100.0,21.0,8.1,right_only,NaN,NaN,NaN,NaN
32435067,NaN,NaN,NaN,NaN,NaN,NaN,45971,NaN,NaN,12 Inch Taper Candle White,101.0,17.0,9.8,right_only,NaN,NaN,NaN,NaN
32435068,NaN,NaN,NaN,NaN,NaN,NaN,46625,NaN,NaN,Single Barrel Kentucky Straight Bourbon Whiskey,31.0,7.0,1.7,right_only,NaN,NaN,NaN,NaN
32435069,NaN,NaN,NaN,NaN,NaN,NaN,49540,NaN,NaN,Pure Squeezed Lemonade,31.0,7.0,9.1,right_only,NaN,NaN,NaN,NaN

side note: attempted to clean NaNs ran into memory error will try again later

In [12]:
# Step 7
# creating flag column
df_full['med_dspo'] = df_full.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [13]:
df_full.head()

,order_id,user_id,order_number,orders_day_of_week,hour_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,max_order,loyalty_flag,mean_price,spending_flag,med_dspo
0,2539329.0,1.0,1.0,2.0,8.0,NaN,196,1.0,0.0,Soda,77.0,7.0,9.0,both,10.0,new customer,6.367797,low spender,20.5
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,10.0,new customer,6.367797,low spender,20.5
2,473747.0,1.0,3.0,3.0,12.0,21.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,10.0,new customer,6.367797,low spender,20.5
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,10.0,new customer,6.367797,low spender,20.5
4,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,10.0,new customer,6.367797,low spender,20.5

In [14]:
df_full.loc[df_full['med_dspo'] > 20, 'frequent_shopper'] = 'non-frequent'
df_full.loc[(df_full['med_dspo'] > 10) & (df_full['med_dspo'] <= 20), 'frequent_shopper'] = 'regular'
df_full.loc[df_full['med_dspo'] <= 10, 'frequent_shopper'] = 'frequent'

In [16]:
df_full.head(30)

,order_id,user_id,order_number,orders_day_of_week,hour_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,max_order,loyalty_flag,mean_price,spending_flag,med_dspo,frequent_shopper
0,2539329.0,1.0,1.0,2.0,8.0,NaN,196,1.0,0.0,Soda,77.0,7.0,9.0,both,10.0,new customer,6.367797,low spender,20.5,non-frequent
1,2398795.0,1.0,2.0,3.0,7.0,15.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,10.0,new customer,6.367797,low spender,20.5,non-frequent
2,473747.0,1.0,3.0,3.0,12.0,21.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,10.0,new customer,6.367797,low spender,20.5,non-frequent
3,2254736.0,1.0,4.0,4.0,7.0,29.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,10.0,new customer,6.367797,low spender,20.5,non-frequent
4,431534.0,1.0,5.0,4.0,15.0,28.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,10.0,new customer,6.367797,low spender,20.5,non-frequent
5,3367565.0,1.0,6.0,2.0,7.0,19.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,10.0,new customer,6.367797,low spender,20.5,non-frequent
6,550135.0,1.0,7.0,1.0,9.0,20.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,10.0,new customer,6.367797,low spender,20.5,non-frequent
7,3108588.0,1.0,8.0,1.0,14.0,14.0,196,2.0,1.0,Soda,77.0,7.0,9.0,both,10.0,new customer,6.367797,low spender,20.5,non-frequent
8,2295261.0,1.0,9.0,1.0,16.0,0.0,196,4.0,1.0,Soda,77.0,7.0,9.0,both,10.0,new customer,6.367797,low spender,20.5,non-frequent
9,2550362.0,1.0,10.0,4.0,8.0,30.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,10.0,new customer,6.367797,low spender,20.5,non-frequent
10,2968173.0,15.0,15.0,1.0,9.0,7.0,196,2.0,0.0,Soda,77.0,7.0,9.0,both,22.0,regular customer,3.980556,low spender,10.0,frequent
11,1870022.0,15.0,17.0,2.0,16.0,8.0,196,6.0,1.0,Soda,77.0,7.0,9.0,both,22.0,regular customer,3.980556,low spender,10.0,frequent
12,1911383.0,15.0,18.0,2.0,11.0,7.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,22.0,regular customer,3.980556,low spender,10.0,frequent
13,2715276.0,15.0,21.0,1.0,9.0,7.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,22.0,regular customer,3.980556,low spender,10.0,frequent
14,487368.0,15.0,22.0,1.0,10.0,14.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,22.0,regular customer,3.980556,low spender,10.0,frequent
15,2293453.0,19.0,2.0,5.0,14.0,6.0,196,3.0,0.0,Soda,77.0,7.0,9.0,both,9.0,new customer,8.372059,low spender,6.0,frequent
16,1973799.0,19.0,5.0,6.0,12.0,8.0,196,15.0,1.0,Soda,77.0,7.0,9.0,both,9.0,new customer,8.372059,low spender,6.0,frequent
17,532817.0,19.0,7.0,4.0,17.0,6.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,9.0,new customer,8.372059,low spender,6.0,frequent
18,1573906.0,21.0,10.0,3.0,10.0,6.0,196,2.0,0.0,Soda,77.0,7.0,9.0,both,33.0,regular customer,7.012683,low spender,7.5,frequent
19,1593000.0,31.0,10.0,3.0,8.0,7.0,196,17.0,0.0,Soda,77.0,7.0,9.0,both,20.0,regular customer,8.137793,low spender,6.0,frequent
20,2231262.0,31.0,17.0,3.0,11.0,8.0,196,14.0,1.0,Soda,77.0,7.0,9.0,both,20.0,regular customer,8.137793,low spender,6.0,frequent
21,2580647.0,43.0,6.0,4.0,16.0,4.0,196,9.0,0.0,Soda,77.0,7.0,9.0,both,11.0,regular customer,7.444898,low spender,10.0,frequent
22,2187180.0,43.0,9.0,4.0,12.0,3.0,196,1.0,1.0,Soda,77.0,7.0,9.0,both,11.0,regular customer,7.444898,low spender,10.0,frequent
23,2497897.0,52.0,1.0,1.0,9.0,NaN,196,4.0,0.0,Soda,77.0,7.0,9.0,both,27.0,regular customer,6.356287,low spender,8.0,frequent
24,1318871.0,52.0,2.0,1.0,10.0,7.0,196,5.0,1.0,Soda,77.0,7.0,9.0,both,27.0,regular customer,6.356287,low spender,8.0,frequent
25,1261384.0,52.0,3.0,1.0,10.0,7.0,196,3.0,1.0,Soda,77.0,7.0,9.0,both,27.0,regular customer,6.356287,low spender,8.0,frequent
26,580568.0,52.0,5.0,2.0,10.0,8.0,196,6.0,1.0,Soda,77.0,7.0,9.0,both,27.0,regular customer,6.356287,low spender,8.0,frequent
27,2428073.0,52.0,7.0,2.0,7.0,8.0,196,5.0,1.0,Soda,77.0,7.0,9.0,both,27.0,regular customer,6.356287,low spender,8.0,frequent
28,342306.0,52.0,9.0,1.0,11.0,7.0,196,5.0,1.0,Soda,77.0,7.0,9.0,both,27.0,regular customer,6.356287,low spender,8.0,frequent
29,1520353.0,52.0,10.0,2.0,10.0,8.0,196,4.0,1.0,Soda,77.0,7.0,9.0,both,27.0,regular customer,6.356287,low spender,8.0,frequent

# Export

In [17]:
df_full.to_pickle(r'C:\Users\19014\OneDrive\Desktop\InstaCart Basket Analysis\02 Data\Prepared Data\ICB_full_merge.pkl')